@import "tailwindcss";

@theme {
   --color-primary: #00B5AA;
   --font-poppins :"Poppins", 'sans-serif';
   --font-arabic: "Scheherazade New", 'serif';
   --font-rakkas: "Rakkas", 'serif';
   --splashImg: "url('/images/backgroundSplash.svg')";
}
@layer base {
   body {
      @apply bg-[#f1f1f1] font-poppins;
   }
   .container {
      @apply max-w-7xl mx-auto px-4 md:px-0
   }
}
@layer components {
   .btn {
      @apply px-6 py-3 font-bold tracking-wide rounded-full inline-flex justify-center  transition-all duration-300 text-sm;
   }
   .btn-primary {
      @apply text-white bg-primary hover:bg-teal-600;
   }
   .input {
      @apply px-6 py-3 rounded-full outline-none focus:ring-2 focus:ring-white bg-white transition-all duration-300;
   }
}
@layer utilities {
   .link-disabled {
      @apply capitalize  tracking-wide   text-gray-400;
   }
}
